

<div class="clearfix">
</div>
<div class="container">
  <!-- BEGIN CONTAINER -->
  <div id="login" class="page-container">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
      <div class="">
        <!--START MAIN PAGE CONTENT-->
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="sign-in-bg" id="outer" >

            <!--<form>-->
              <!--<mat-card class="example-card">-->
<!--<img src="http://localhost:4200/assets/img/logo.png" style="height: 40px;">-->
                  <!--<h1>Sign in</h1>-->


                <!--<div class="example-container">-->
                  <!--<mat-form-field>-->
                    <!--<input matInput placeholder="Email or phone" [formControl]="email" required>-->

                  <!--</mat-form-field>-->
                <!--</div>-->

                <!--<mat-card-content>-->
                  <!--<p style="float: left; color: #1a73e8;letter-spacing: .25px;line-height: 20px;margin-left: 38px;">-->
<!--Forgot email?-->
                  <!--</p>-->
                <!--</mat-card-content>-->
                <!--<mat-card-actions>-->
                  <!--<button mat-button style="float: left; color: #1a73e8;letter-spacing: .25px;line-height: 20px;margin-left: 38px;">Create account</button>-->
                  <!--<button mat-raised-button color="primary" style="float: right;margin-right: 52px;">Next</button>-->
                <!--</mat-card-actions>-->
              <!--</mat-card>-->
            <!--</form>-->

            <mat-card class="example-card">
              <img src="http://localhost:4200/assets/img/logo.png" style="height: 40px;">
              <h1>Sign in</h1>


              <div class="example-container">
            <app-stepper-signin></app-stepper-signin>
              </div>
            </mat-card>
          </div>
        </div>
        <div class="col-sm-4"></div>
        <!-- END PAGE CONTENT-->
      </div>
    </div>
    <!-- END CONTENT -->
  </div>
  <!-- END CONTAINER -->
  <!-- BEGIN FOOTER -->

  <!-- END FOOTER -->
</div>
<div style="position: absolute;bottom: 0px;">

</div>


