.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  margin: 6px 130px;
  font-size: medium;
}
.





.mat-raised-button {
  margin: 16px 176px;
}
h2{
  padding: 30px;
}


