


<mat-horizontal-stepper [linear]="isLinear" #stepper style="text-align: center;">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Roles</ng-template>


      <div>

        <button mat-raised-button matStepperNext color="primary">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Role Types</ng-template>


      <div>
        <button mat-raised-button matStepperPrevious color="primary">Back</button>
        <button mat-raised-button matStepperNext color="primary">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Description</ng-template>


    <div>
      <button mat-raised-button matStepperPrevious color="primary">Back</button>
      <button mat-raised-button (click)="stepper.reset()" color="primary">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

