<header></header>
<div class="clearfix">
</div>
<div class="container">
	<!-- BEGIN CONTAINER -->
	<div id="login" class="page-container">
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
            <div class="">
                <!--START MAIN PAGE CONTENT-->
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="sign-in-bg" id="outer" >
                    <h3 class="text-center">Log In Account</h3>
                    <form  (ngSubmit)="onSubmit()" [formGroup]="forms">
                        <input required type="text" formControlName="email"   placeholder="Enter your email-ID" name="username" class="required-fields {{validcssclass}}" />
                        <div class="error-text" *ngIf="true" >
                            <span class="padding-left {{wrongText}}" >{{usernameError}}</span>
                        </div>
                        <input class="{{wrongPassword}}"  type="password" formControlName="password" placeholder="Enter your password" name="password">
                        <div class="error-text" *ngIf="true" >
                            <span class="padding-left wrong-text">{{passwordError}}</span>
                        </div>
                        <input type="submit"  formControlName="submitt" class="btn-submit"   name="loginSubmit">
                        <div>
                            <ul style="list-style: none;padding: 5px;">
                                <li style="display: inline;margin-right: 5px;"> <a  routerLink="/create-account" routerLinkActive="active">Create account</a></li>
                                <li style="display: inline;"> <a class="pull-right" routerLink="/forgot-password" routerLinkActive="active">Forgot Password ?</a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-4"></div>
				<!-- END PAGE CONTENT-->
            </div>
        </div>
		<!-- END CONTENT -->
	</div>
	<!-- END CONTAINER -->
	<!-- BEGIN FOOTER -->

	<!-- END FOOTER -->
</div>
<div style="position: absolute;bottom: 0px;">
        <footer></footer>
</div>


