

<header></header>
<div class="container page-header-fixed page-full-width">
  <!-- BEGIN CONTAINER -->
  <div id="sales-enquiry" class="page-container">
    <!-- START DESKTOP HORIZANTAL MENU -->

    <!-- END MOBILE MENU -->

    <div class="hor-menu margin-top-10">
      <h3 class="pull-left">Create Receipt </h3>

      <div class="serch-bg">
        <a href="#" class="search-plus" data-toggle="modal" data-target=".bs-example-modal-lg1">+</a>
        <a href="" class="btn blue pull-right">Search</a>

        <div class="btn-group pull-right setting">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
            <i class="fa fa-sort-down"></i>
          </button>
          <div class="dropdown-menu pull-right" role="menu">
            <p class="userlist_close pull-right"><a href="#"><img src="assets/img/portlet-remove-icon.png" width="11" height="16" alt="Close"></a></p>
            <h4 class="pull-left"><strong>Advanced Search</strong></h4>
            <div class="search-dropdown">
              <div class="col-lg-4">
                <label class="control-label">Date Range</label>
              </div>
              <div class="col-lg-8">
                <select class="form-control bs-select">
                  <option value="10">Last Year</option>
                  <option value="9">This Year</option>
                  <option value="8">Last Quarter</option>
                  <option value="7">This Quarter</option>
                  <option value="6">Custom Date</option>
                  <option value="5">Today</option>
                  <option value="4">Last Month</option>
                  <option value="3">This Month</option>
                  <option value="2">Last Week</option>
                  <option value="1">This Week</option>
                </select>
              </div>
            </div>

            <div class="search-dropdown">
              <div class="col-lg-4">
                <label class="control-label">From To</label>
              </div>
              <div class="col-lg-8">
                <input name="" class="form-control date-from" type="text" placeholder="">
                <input name="" class="form-control date-to" type="text" placeholder="">
              </div>
            </div>
            <div class="search-dropdown">
              <div class="col-lg-4">
                <label class="control-label">Customer</label>
              </div>
              <div class="col-lg-8">
                <input name="" class="form-control" type="text" placeholder="">
              </div>
            </div>
            <div class="search-dropdown">
              <div class="col-lg-4">
                <label class="control-label">Sales Man</label>
              </div>
              <div class="col-lg-8">
                <input name="" class="form-control" type="text" placeholder="">
              </div>
            </div>
            <div class="search-dropdown">
              <div class="col-lg-4">
                <label class="control-label">Status</label>
              </div>
              <div class="col-lg-8">
                <input name="" class="form-control" type="text" placeholder="">
              </div>
            </div>

            <div class="search-dropdown">
              <div class="col-lg-12">
                <input type="button" value="Advanced Search"  class="btn-advanced-search">
              </div>
            </div>

          </div>
        </div>

        <input name="" class="input-large" type="text" placeholder="Search...">

      </div>
      <!--START Create Coustomer popup-->
      <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <h4>Create Customer</h4>
            <a data-dismiss="modal" class="pull-right close-btn"><i class="fa fa-times-circle"></i>
            </a>
            <div class="customer-details-bg">
              <h3>Customer Details</h3>
              <div class="row">
                <div class="col-sm-6 col-md-3">
                  <label>TYPE*</label>
                  <select class="bs-select form-control">
                    <option>Customer 01</option>
                    <option>Customer 02</option>
                  </select>
                </div>
                <div class="col-sm-6 col-md-3">
                  <label>NAME</label>
                  <input name="" type="text" class="form-control">
                </div>
                <div class="col-sm-6 col-md-3">
                  <label>DATE OF BIRTH</label>
                  <input name="" type="text" class="form-control">
                </div>
                <div class="col-sm-6 col-md-3">
                  <label>COMPANY NAME</label>
                  <input name="" type="text" class="form-control">
                </div>
                <div class="clearfix">
                </div>
                <div class="col-sm-6 col-md-3">
                  <label>SOURCING LOCATION</label>
                  <input name="" type="text" class="form-control">
                </div>
                <div class="col-sm-6 col-md-3">
                  <label>SALES MANAGER</label>
                  <input name="" type="text" class="form-control">
                </div>
                <div class="col-sm-6 col-md-3">
                  <label>EXPECTED BUSINESS PER MONTH</label>
                  <input name="" type="text" class="form-control">
                </div>
                <div class="col-sm-6 col-md-3">
                  <label>REGISTERED OFFICE ADDRESS</label>
                  <input name="" type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="customer-details-bg">
              <h3>Other Details</h3>
              <div class="row">
                <div class="col-sm-6 col-md-3">
                  <label>PAN NO.</label>
                  <input name="" type="text" class="form-control">
                </div>
                <div class="col-sm-6 col-md-3">
                  <label>TAN NO.</label>
                  <input name="" type="text" class="form-control">
                </div>
                <div class="col-sm-6 col-md-3">
                  <label>LIMIT APPLIED FOR/ CREDIT LIMIT</label>
                  <input name="" type="text" class="form-control">
                </div>
                <div class="col-sm-6 col-md-3">
                  <label>OCCUPATION</label>
                  <input name="" type="text" class="form-control">
                </div>
                <div class="clearfix">
                </div>
                <div class="col-sm-6 col-md-3">
                  <label>REFERENCE</label>
                  <input name="" type="text" class="form-control">
                </div>
                <div class="col-sm-6 col-md-3">
                  <label>REFERENCE DESCRIPTION</label>
                  <input name="" type="text" class="form-control">
                </div>
                <div class="col-sm-12 col-md-6">
                  <label>NOTE/SUGGESTION</label>
                  <input name="" type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="popup-btn-bg">
              <button class="btn default" type="button">SAVE</button>
              <button class="btn default" type="button">CANCEL</button>
            </div>
          </div>
        </div>
      </div>
      <!--END Create Coustomer popup-->

    </div>
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
      <div class="page-content">
        <!--START MAIN PAGE CONTENT-->
        <div class="row">
          <div class="col-md-12">
            <ul class="page-breadcrumb breadcrumb">
              <li>
                <i class="fa fa-home"></i>
                <a routerLink="/home" routerLinkActive="active">
                  HOME </a>
                <i class="fa fa-angle-right"></i>
              </li>
              <li>
                <a routerLink="#" routerLinkActive="active">
                  RECEIPT ENQUIRY MANAGEMENT </a>
                <i class="fa fa-angle-right"></i>
              </li>
              <li>
                <a routerLink="#" routerLinkActive="active">
                  CREATE SALES ENQUIRY </a>
              </li>
              <li class="btn-group pull-right">
                <a routerLink="/receipt" routerLinkActive="active" class="btn default">

                  BACK </a>
              </li>
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
          </div>
        </div>
        <div class="row">
          <!--START NEW SECTION-->
          <div class="col-sm-12">
            <div class="branchwise-sales">
              <h4 class="pull-left">Customer Information</h4>

              <div class="clearfix">
              </div>
              <div class="portlet-body flip-scroll">
                <table class="table flip-content table-striped">
                  <thead class="flip-content">
                  <tr>
                    <th>
                      ENQUIRY/ ESTIMATE REF. NO.
                    </th>
                    <th>
                      CUSTOMER NAME
                    </th>
                    <th>
                      ADDRESS
                    </th>
                    <th>
                      CONTACT DETAILS
                    </th>
                    <th>
                      EMAIL
                    </th>
                    <th>
                      TYPE
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>
                      EST000008
                    </td>
                    <td>
                      <span class="color-black">MR. AJIT KAPOOR</span>
                    </td>
                    <td>
                      Pune, Maharashtra
                    </td>
                    <td>
                      9922918546 / 9922918546 / 9922918546
                    </td>
                    <td>
                      kapoor@demo.com
                    </td>
                    <td>
                      Customer type here
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="table-responsive1">
                <div class="col-md-6">
                  <div class="row">
                    <div class="portlet-body">
                      <table class="table table-striped">
                        <thead>
                        <tr>
                          <th>
                            BILLING ADDRESS
                          </th>
                          <th>
                            DELIVERY ADDRESS
                          </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>
                            <div class="address-bg">
                              Lorem Ipsum is simply dummy text of the printing
                            </div>
                          </td>
                          <td>
                            <div class="address-bg">
                              Lorem Ipsum is simply dummy text of the printing
                            </div>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="portlet-body">
                      <table class="table table-striped">
                        <thead>
                        <tr>
                          <th>
                            BRANCH
                          </th>
                          <th>
                            PRIORITY
                          </th>
                          <th>
                            CREATED ON
                          </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>
                            <select class="bs-select form-control">
                              <option>Delhi</option>
                              <option>Pune</option>
                            </select>
                          </td>
                          <td>
                            <select class="bs-select form-control">
                              <option>High</option>
                              <option>Medium</option>
                            </select>
                          </td>
                          <td>
                            <div class="address-bg">
                              24/ 12/ 2015 08:45 PM
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3">
                            ENQUIRY/ESTIMATE STATUS: <strong>CLOSE WITH SALES ORDER</strong>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
            </div>
          </div>
        </div>
        <div class="row">
          <!--START NEW SECTION-->
          <div class="col-sm-12">
            <div class="branchwise-sales">
              <h4>Product List</h4>
              <div class="portlet-body">
                <div class="table-responsive1">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>
                        IMAGE
                      </th>
                      <th>
                        PRODUCT OLD CODE
                      </th>
                      <th>
                        PRODUCT DETAILS
                      </th>
                      <th>
                        QUANTITY
                      </th>
                      <th>
                        RATE
                      </th>
                      <th>
                        DISCOUNT
                      </th>
                      <th>
                        TAX DETAILS
                      </th>
                      <th>
                        PRICE
                      </th>
                      <th>
                        NOTE
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--START NEW INNER SECTION-->
                    <tr>
                      <td>
                        <div class="sort-img-bg">
                          <i class="fa fa-book"></i>
                        </div>
                      </td>
                      <td>
                        KPF 362
                      </td>
                      <td>
                        100001.01.001.G01.0001.DE PATCH FITTING-TOP PATCH- G01-SS
                      </td>
                      <td>
                        <p class="quantity-bg">
                          <span>100.00</span> PCS
                        </p>
                      </td>
                      <td>
                        <p class="quantity-bg">
                          <span>280.00</span>
                        </p>
                      </td>
                      <td>
                        10%
                      </td>
                      <td>
                        Vat (12.5%): 35.00
                      </td>
                      <td>
                        280.00
                      </td>
                      <td>
                        <textarea class="form-control input-medium1"></textarea>
                      </td>
                    </tr>
                    <tr>
                      <td>&nbsp;

                      </td>
                      <td>&nbsp;

                      </td>
                      <td>
                        <span class="color-black">AVAILABILITY</span><br>
                        G - 1 (1) | G - 3 (10)
                      </td>
                      <td colspan="6">
                        <span class="color-black">LEAD TIME</span><br>
                        DURLAX ARCHTECH PVT LTD-3Days (JHJK02343) | Krusna Prasad Hardware-2Days (hgt656) CHANDAN SINGH-N/ADays (JKHKJHK78979) | PLATINUM-4Days (GTR565) | MARUTI HARDWARE-N/ADays (TTT4545)
                      </td>
                    </tr>
                    <!--END NEW INNER SECTION-->
                    <!--START NEW INNER SECTION-->
                    <tr class="divider">
                      <td>
                        <div class="sort-img-bg">
                          <i class="fa fa-book"></i>
                        </div>
                      </td>
                      <td>
                        KPF 362
                      </td>
                      <td>
                        100001.01.001.G01.0001.DE PATCH FITTING-TOP PATCH- G01-SS
                      </td>
                      <td>
                        <p class="quantity-bg">
                          <span>100.00</span> PCS
                        </p>
                      </td>
                      <td>
                        <p class="quantity-bg">
                          <span>280.00</span>
                        </p>
                      </td>
                      <td>
                        10%
                      </td>
                      <td>
                        Vat (12.5%): 35.00
                      </td>
                      <td>
                        280.00
                      </td>
                      <td>
                        <textarea class="form-control input-medium1"></textarea>
                      </td>
                    </tr>
                    <tr class="divider1">
                      <td>&nbsp;

                      </td>
                      <td>&nbsp;

                      </td>
                      <td>
                        <span class="color-black">AVAILABILITY</span><br>
                        G - 1 (1) | G - 3 (10)
                      </td>
                      <td colspan="6">
                        <span class="color-black">LEAD TIME</span><br>
                        DURLAX ARCHTECH PVT LTD-3Days (JHJK02343) | Krusna Prasad Hardware-2Days (hgt656) CHANDAN SINGH-N/ADays (JKHKJHK78979) | PLATINUM-4Days (GTR565) | MARUTI HARDWARE-N/ADays (TTT4545)
                      </td>
                    </tr>
                    <!--END NEW INNER SECTION-->
                    <!--START NEW INNER SECTION-->
                    <tr>
                      <td>
                        <div class="sort-img-bg">
                          <i class="fa fa-book"></i>
                        </div>
                      </td>
                      <td>
                        KPF 362
                      </td>
                      <td>
                        100001.01.001.G01.0001.DE PATCH FITTING-TOP PATCH- G01-SS
                      </td>
                      <td>
                        <p class="quantity-bg">
                          <span>100.00</span> PCS
                        </p>
                      </td>
                      <td>
                        <p class="quantity-bg">
                          <span>280.00</span>
                        </p>
                      </td>
                      <td>
                        10%
                      </td>
                      <td>
                        Vat (12.5%): 35.00
                      </td>
                      <td>
                        280.00
                      </td>
                      <td>
                        <textarea class="form-control input-medium1"></textarea>
                      </td>
                    </tr>
                    <tr>
                      <td>&nbsp;

                      </td>
                      <td>&nbsp;

                      </td>
                      <td>
                        <span class="color-black">AVAILABILITY</span><br>
                        G - 1 (1) | G - 3 (10)
                      </td>
                      <td colspan="6">
                        <span class="color-black">LEAD TIME</span><br>
                        DURLAX ARCHTECH PVT LTD-3Days (JHJK02343) | Krusna Prasad Hardware-2Days (hgt656) CHANDAN SINGH-N/ADays (JKHKJHK78979) | PLATINUM-4Days (GTR565) | MARUTI HARDWARE-N/ADays (TTT4545)
                      </td>
                    </tr>
                    <!--END NEW INNER SECTION-->
                    <!--START NEW INNER SECTION-->
                    <tr class="divider2">
                      <td colspan="2">
                        <div class="checkbox-list">
                          <label>
                            <input type="checkbox"> INCLUDE TAX </label>
                        </div>
                      </td>
                      <td>&nbsp;

                      </td>
                      <td>&nbsp;

                      </td>
                      <td>&nbsp;

                      </td>
                      <td>&nbsp;

                      </td>
                      <td colspan="2">
                        <p class="color-black">
                          Sub Total
                        </p>
                        <p>
                          Vat (12.5%)
                        </p>
                        <p>
                          Consumable (5%)
                        </p>
                        <p class="color-black">
                          Grand Total
                        </p>
                      </td>
                      <td>
                        <p>
                          81708.57
                        </p>
                        <p>
                          35.00
                        </p>
                        <p>
                          4071.43
                        </p>
                        <p>
                          85815.00
                        </p>
                      </td>
                    </tr>
                    <!--END NEW INNER SECTION-->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div>
            </div>
          </div>
        </div>
        <div class="row">
          <!--START NEW SECTION-->
          <div class="col-sm-12">
            <div class="branchwise-sales">
              <h4>Product List</h4>
              <p class="col-lg-12 note-bg">
                Sales Enquiry Status is Open on 24/12/2014 08:18 AM by Hanuman
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <!--START NEW SECTION-->
          <div class="col-sm-12">
            <div class="branchwise-sales">
              <h4>Followup Note</h4>
              <div class="col-sm-4">
                <p>
                  FOLLOWUP ON
                </p>
                <p class="note-bg">
                  <textarea class="form-control"></textarea>
                </p>
              </div>
              <div class="col-sm-8">
                <p>
                  FOLLOWUP NOTE
                </p>
                <p class="note-bg">
                  <textarea class="form-control"></textarea>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- END PAGE CONTENT-->
      </div>
    </div>
    <!-- END CONTENT -->
  </div>
  <!-- END CONTAINER -->
  <!-- BEGIN FOOTER -->

  <!-- END FOOTER -->
</div>
<footer></footer>
