
<mat-horizontal-stepper [linear]="isLinear" #stepper style="text-align: center;">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Parking</ng-template>
      <mat-form-field>
        <input matInput placeholder="Id" formControlName="firstCtrl" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Vehicle Name"  required>
      </mat-form-field> <br>

      <mat-form-field>
        <input matInput placeholder="Vehicle Type"  required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Model No"  required>
      </mat-form-field>
      <div>

        <button mat-raised-button matStepperNext color="primary">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel> Details</ng-template>

      <mat-form-field>
        <input matInput placeholder="Vehicle No"  required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Select Member"  required>
      </mat-form-field><br>

      <mat-form-field>
        <input matInput placeholder="Parking No"  required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Building Name"  required>
      </mat-form-field>





      <div>
        <button mat-raised-button matStepperPrevious color="primary">Back</button>
        <button mat-raised-button matStepperNext color="primary">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <h2>Thank You For Registration!</h2>
    <div>
      <button mat-raised-button matStepperPrevious color="primary">Back</button>
      <button mat-raised-button (click)="stepper.reset()" color="primary">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

