


<div class="container">
  <!-- BEGIN CONTAINER -->
   <mat-card class="example-card">
              <div class="col-md-9">
              <img src="http://localhost:4200/assets/img/logo.png" style="height: 40px;">
              <h1>Sign up</h1>


              <div class="example-container">
                <app-stepper-signup></app-stepper-signup>
              </div>
              </div>

              <div class="col-md-3">
                <img src="https://app.asana.com/app/asana/-/get_asset?asset_id=793252544659018" style="width: 171px;
    height: 265px;">
                <h3>Welcome to Building-Katta</h3>
              </div>
            </mat-card>

    <!-- END CONTENT -->

</div>
