



<mat-horizontal-stepper [linear]="isLinear" #stepper style="text-align: center;">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Asset Details</ng-template>
      <mat-form-field>
        <input matInput placeholder="Asset Name"  required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Select Asset Owne"  required>
      </mat-form-field><br>

      <mat-form-field>
        <input matInput placeholder="Valid From Date"  required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Warranty"  required>
      </mat-form-field>

      <div>

        <button mat-raised-button matStepperNext color="primary">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Pricing</ng-template>


      <mat-form-field>
        <input matInput placeholder="Valid To Date"  required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Asset Type"  required>
      </mat-form-field><br>

      <mat-form-field>
        <input matInput placeholder="Price"  required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Charges"  required>
      </mat-form-field>





      <div>
        <button mat-raised-button matStepperPrevious color="primary">Back</button>
        <button mat-raised-button matStepperNext color="primary">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>

    <mat-form-field>
      <mat-select placeholder="Select Extra Income Source">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Price"  required>
    </mat-form-field><br>
    <div>
      <button mat-raised-button matStepperPrevious color="primary">Back</button>
      <button mat-raised-button (click)="stepper.reset()" color="primary">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

